{
    "arrowParens": "avoid",
    "semi": false,
    "trailingComma": "none",
    "endOfLine": "lf",
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "printWidth": 200,
    "jsxSingleQuote": false
}