.toast {
  display: flex;
  flex-direction: column;
}

.divToast {
  @apply w-72 mt-3 rounded flex;
  padding: 0.5rem;
  transition: all linear 0.3s;
  animation: slideInLeft ease 0.3s, fadeOut linear 1s 3s forwards;
}

.icon {
  @apply flex justify-center items-center;
  width: 15%;
}
.contentMessage {
  @apply flex flex-col justify-center;
  width: 85%;
  margin-left: 10px;
}
.contentMessage p {
  word-break: break-word;
}

.faCircleCheck {
  @apply text-4xl;
  color: rgba(0, 0, 0, 0.2);
}

/* type */
.success {
  background-color: #32c682;
  color: #fff;
}
.failure {
  background-color: #ff5549;
  color: #fff;
}
.warning {
  background-color: #eebf31;
  color: #fff;
}
.info {
  background-color: #26c0d3;
  color: #fff;
}

/* placement */
.top-left {
  position: fixed;
  top: 32px;
  left: 32px;
  z-index: 999999;
}
.top-right {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}
.bottom-left {
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 999999;
}
.bottom-right {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 999999;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateY(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* @keyframes fadeOut {
  to {
    opacity: 0;
  }
} */
