.defaultModal {
    @apply overflow-y-auto overflow-x-hidden 
  fixed top-0 right-0 left-0 
  z-50 
  w-full 

  md:inset-0 md:h-full;
}

/* placement */
.center {
    @apply justify-center items-center flex;
}
.top-left {
    @apply justify-start items-start flex;
}
.top-right {
    @apply justify-end items-start flex;
}
.bottom-left {
    @apply justify-start items-end flex;
}
.bottom-right {
    @apply justify-end items-end flex;
}

.hidden {
    display: none !important;
}

.btnX {
    @apply text-gray-400 
  bg-transparent 
  hover:bg-gray-200 hover:text-gray-900 
  rounded-lg 

  text-sm 
  p-1.5 ml-auto 
  inline-flex 
  items-center 
  dark:hover:bg-gray-600 dark:hover:text-white;
}

/* size content modal : 'default' | 'large' | 'extra-large' */
.default {
    @apply max-w-2xl 
  /* max-width: 42rem; 672px */;
}
.large {
    @apply max-w-4xl
  /* max-width: 56rem; 896px */;
}
.extra-large {
    @apply max-w-7xl
  /* max-width: 80rem; 1280px */;
}
