.defaultModal{
  @apply 
  overflow-y-auto overflow-x-hidden 
  fixed top-0 right-0 left-0 
  z-50 
  w-full 

  md:inset-0 md:h-full 
  justify-center items-center flex
}

.hidden{
  display: none !important;
}

.btnX{
  @apply 
  text-gray-400 
  bg-transparent 
  hover:bg-gray-200 hover:text-gray-900 
  rounded-lg 

  text-sm 
  p-1.5 ml-auto 
  inline-flex 
  items-center 
  dark:hover:bg-gray-600 dark:hover:text-white
}
.btnOk{
  @apply 
  text-white 
  bg-blue-700 
  hover:bg-blue-800 
  focus:ring-4 focus:outline-none focus:ring-blue-300 

  font-medium 
  rounded-lg 
  text-sm text-center 
  px-5 py-2.5 
  dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}
.btnCancel{
  @apply 
  text-gray-500 
  bg-white 
  hover:bg-gray-100 
  focus:ring-4 focus:outline-none focus:ring-blue-300 

  rounded-lg 
  border border-gray-200 
  text-sm font-medium 
  px-5 py-2.5 

  hover:text-gray-900 
  focus:z-10 
  dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600
}

/* size content modal : 'default' | 'large' | 'extra-large' */
.default{
  @apply max-w-2xl 
  /* max-width: 42rem; 672px */
}
.large{
  @apply max-w-4xl
  /* max-width: 56rem; 896px */
}
.extra-large{
  @apply max-w-7xl
  /* max-width: 80rem; 1280px */
}