.datepicker-input {
    border: 1px solid rgba(128, 128, 128, 0.529);
    padding: 5px 10px;
    border-radius: 5px;
}

.inputSelectDate {
    @apply border border-gray-300 
    text-gray-900 text-sm 
    rounded-lg 
    
    focus:ring-teal-400 focus:border-teal-400 
    flex w-full p-2.5 
    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-teal-400 dark:focus:border-teal-400 !important;
}

.contentDate {
    @apply text-center overflow-x-auto block rounded-lg mt-2 absolute top-10 bg-white !important;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important; */
}

.boxShadowDatePicker {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.contentDateHide {
    @apply hidden;
}
